<div class="row">
  <div class="col s12">
    <h5>Welcome!</h5>
    <p>This dosha test is based on questions that are centuries old. By answering questions about your physical body, mental characteristics and digestive
tendencies, you can determine your unique balance of doshas. </p>
<p>Once you understand your prakriti (natural state) and vikriti (imbalances), you can make lifestyle choices that help you move towards your natural, balanced state of being.</p>
    </div>
      <div class="col s6">
    <h5>
      Discover Your Prakriti: Lifelong Tendencies
    </h5>
    <p>Your <em>prakriti</em> is your natural state. It is determined at the moment of your conception and relates to your genetics.</p>
<p>When answering the questions in this section, answer based on your overall, lifelong tendencies and not according to current or recent conditions. This section will take about 5 minutes to complete.</p>


    {{#link-to 'prakriti' 'physical' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

  <div class="col s6">
    <h5>
      Discover Your Vikriti: Current Tendencies
    </h5>
    <p>Your <em>vikriti</em> is your current state of health, and can fluctuate yearly, monthly daily or even minute to minute. This is a natural part of life.    </p>

    <p>Answer this section only if you already know your prakriti. Answer based on your current condition, rather that what is usually true. This section will take about 5 minutes to complete.    </p>

    {{#link-to 'select-gender' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}

  </div>

</div>
